$large-width: 800px;

:root {
  font-family: "Quicksand", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-box-shadow: hsl(274.92deg 95.56% 7.8% / 20%);
  --box-shadow: 0px 2px 6px 2px var(--color-box-shadow);
  --spacing: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: hsl(275.4deg 28.72% 90.3%);
  padding: var(--spacing);
  max-width: calc(960px + 2 * var(--spacing));
  height: 100vh;
}

.v-stack {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing);
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  font-weight: 400;
}

p {
  font-size: max(min(1.3rem, 4vw), 1rem);
}

h1 {
  font-family: "Fredericka the Great";
  font-size: max(min(4rem, 10vw), 2rem);
}

.page-footer {
  margin-top: auto;
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
}

p + p {
  margin-top: calc(var(--spacing) * 0.5);
}

.intro-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--spacing);
  row-gap: var(--spacing);

  @media screen and (min-width: $large-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.item-wrapper,
.home-image {
  box-shadow: var(--box-shadow);
  background-color: hsl(72deg 56% 97%);
}

.item-wrapper {
  padding: var(--spacing);
}

noscript {
  font-size: 1.5rem;
}

.home-image {
  width: 100%;
}

.hover-wave {
  span {
    position: relative;
  }

  &:hover {
    span {
      animation-name: wave;
      animation-duration: 1000ms;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes wave {
  0% {
    top: 0px;
  }
  25% {
    top: -8px;
  }
  50% {
    top: 0px;
  }
}
