:root {
  font-family: 'Quicksand', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --color-box-shadow: hsl(274.92deg 95.56% 7.8% / 30%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(275.4deg 28.72% 90.3%);
  padding: 20px;
}