:root {
  font-family: 'Quicksand', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --color-box-shadow: hsl(274.92deg 95.56% 7.8% / 30%);
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: hsl(275.4deg 28.72% 90.3%);
  padding: 20px;
  max-width: 960px;
  height: 100vh;
}

.v-stack {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

p, h1, h2, h3 {
  margin: 0;
}

.page-footer {
  margin-top: auto;
  font-size: 0.75rem;
}