@media print {
  .cv {
    max-width: unset;
  }

  #cv {
    display: block !important;
  }

  body > :not(#cv) {
    display: none !important;
  }

  body,
  .item-wrapper {
    background-color: transparent;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    max-width: unset;
    --box-shadow: none;
  }

  .column-item {
    break-inside: avoid;
  }

  h1,
  h2,
  h3 {
    break-after: avoid;
  }

  body {
    padding-bottom: 100px;
  }
}

@page {
  margin-top: 1.5cm;
  margin-left: 0;
  margin-right: 0;
}

@page :first {
  margin-top: 0;
}
