.cv {
  max-width: unset;
}

body > :not(#cv, #app, #app > [data-fromstatic="#cv"]),
.button-bar {
  display: none !important;
}

body,
.item-wrapper {
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  max-width: unset;
  --box-shadow: none;
}

.column-item {
  break-inside: avoid;
}

h1,
h2,
h3 {
  break-after: avoid;
}

body {
  padding-bottom: 100px;
}
